h2 {
    color: teal;
    border-bottom: 1px solid teal;
    padding: 10px;
}

h4 {
    color: teal;
    font-size: 5px;
}

footer {
    background-color: #4B515D;
    color: grey;
}

.container {
    background-color: white;
    margin:2.5%;
}

.container img {
    max-height:100%;
    max-width:100%;
    height:auto;
    width:auto;
}

body {
    background-color: lightgrey;
}

a {
    color:#4B515D;
    text-decoration: none;
    transition: font-size 2s;   
}